# --- Aplicação ---
APP_ENV=development
SERVER_PORT=8080
LOG_LEVEL=debug

# --- Banco de dados ---
# 3307 é a porta publicada na sua máquina pelo contêiner do MySQL
# Escolhemos a porta 3307 e não 3306 pois essa porta já costuma estar ocupada por uma
# instalação local do MySQL
DB_HOST=127.0.0.1
DB_PORT=3307
DB_NAME=terrarios
DB_USER=terrario_app
DB_PASSWORD=defina-uma-senha
DB_POOL_SIZE=10

# --- Credenciais administrativas do contêiner MySQL ---
MYSQL_ROOT_PASSWORD=defina-uma-senha