# https://dart.dev/guides/libraries/private-files
# Created by `dart pub`

# Dependências e artefats do Dart
.dart_tool/
build/
pubspec.lock

# Editores
.idea/
.vscode/

# Configuração local com dados sigilosos
.env
