# --- Aplicação ---
APP_ENV=development
SERVER_PORT=8080
LOG_LEVEL=debug

# --- Banco de Dados ---
# 3307 é a porta publicada na maquina pessoal pelo conteiner do MySQL
# Escolhermos 3307 pois a 3306 normalmente está ocupada por uma instalação local
# do MySQL
DB_HOST=127.0.0.1
DB_PORT=3307
DB_NAME=terrarios
DB_USER=terrario_app
DB_PASSWORD=defina-uma-senha
DB_POOL_SIZE=10

# --- Credenciais administrativas do conteiner MySQL ---
MYSQL_ROOT_PASSWORD=defina-uma-senha